@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 38px;
    }



    .swiper-button-next,
    .swiper-button-prev
    {
        width: 140px;
        height: 140px;
    }


    .swiper-button-prev
    {
        left: -220px;
    }

    .swiper-button-next
    {
        right: -220px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 31px 131px 31px 39px;
    }


    .accordion_item .head .title
    {
        font-size: 26px;
    }


    .accordion_item .head .arr
    {
        right: 28px;

        width: 52px;
        height: 52px;
    }


    .accordion_item .data
    {
        padding: 0 31px 31px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 16px 0 20px;
    }


    header .cont
    {
        padding: 0 24px;
    }


    header .logo img
    {
        width: 180px;
    }


    header .callback .btn
    {
        width: 120px;
        height: 120px;
        padding: 20px;
    }


    header .callback .mini_modal
    {
        width: 1000px;
        padding: 200px;
    }


    header .callback .title
    {
        font-size: 36px;

        margin-bottom: 48px;
    }


    header .callback .bg
    {
        bottom: -200px;
        left: 48px;

        width: 340px;
        height: 441px;
    }


    header .address_link a
    {
        padding: 24px 28px;

        border-radius: 16px;
    }


    header .cont > .bg
    {
        padding: 6px 8px 6px 28px;

        border-radius: 16px;
    }


    header .menu_item + .menu_item
    {
        margin-left: 28px;
    }


    header .contacts
    {
        margin-left: 28px;
        padding: 14px 20px;

        border-radius: 12px;
    }

    header .contacts .messengers a + a
    {
        margin-left: 10px;
    }


    header .contacts .phone
    {
        font-size: 18px;

        margin-left: 10px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 28px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 52px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .line
    {
        margin-bottom: 16px;
    }


    .form .submit
    {
        padding-top: 8px;
    }


    .form .submit_btn
    {
        width: 300px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 19px;
        line-height: 31px;
    }


    .text_block * + h2
    {
        margin-top: 52px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 160px;
    }


    .first_section .title
    {
        font-size: 120px;
    }


    .first_section .desc
    {
        font-size: 28px;
    }



    /*--------------
        Services
    --------------*/
    .services
    {
        padding: 140px 0 180px;
    }


    .services .block_title
    {
        font-size: 88px;

        margin-bottom: 100px;
    }


    .services .service
    {
        height: 420px;
        padding: 39px;

        border-radius: 24px;
    }


    .services .service .name
    {
        font-size: 19px;
    }


    .services .service .number
    {
        font-size: 260px;
        line-height: 198px;

        right: 27px;
    }


    .services .useful_menu_link
    {
        font-size: 19px;

        width: 260px;
        height: 260px;
        padding: 32px;

        border-radius: 24px;
    }



    /*-------------------
        Bottom blocks
    -------------------*/
    .bottom_blocks
    {
        padding: 40px 0;
    }


    .bottom_blocks .stocks_slider .swiper-button-next,
    .bottom_blocks .stocks_slider .swiper-button-prev
    {
        width: 120px;
        height: 120px;
    }

    .bottom_blocks .stocks_slider .swiper-button-prev
    {
        right: 124px;
    }


    .bottom_blocks .stock
    {
        padding: 140px 100px;

        border-radius: 24px;
    }


    .bottom_blocks .stock
    {
        height: 820px;
    }


    .bottom_blocks .stock .data
    {
        width: 480px;
    }


    .bottom_blocks .stock .label
    {
        font-size: 28px;

        margin-bottom: 40px;
        padding: 12px 28px;

        border-radius: 16px;
    }


    .bottom_blocks .stock .name
    {
        font-size: 56px;
    }



    .bottom_blocks .video_link
    {
        font-size: 28px;

        height: 400px;
        padding: 51px 47px;

        border-radius: 24px;
    }


    .bottom_blocks .video_link .icon
    {
        width: 124px;
        height: 124px;
    }



    .bottom_blocks .contacts
    {
        height: 400px;
        padding: 51px 47px;

        border-radius: 24px;
    }


    .bottom_blocks .contacts .title
    {
        font-size: 28px;

        margin-bottom: 28px;
    }



    /*--------------
        Partners
    --------------*/
    .partners
    {
        padding: 40px 0;
    }


    .partners .title
    {
        font-size: 44px;
    }


    .partners .item
    {
        height: 224px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        width: 520px;
        padding: 47px 47px 79px;

        border-radius: 20px;
    }


    .contacts_info .data .title
    {
        margin-bottom: 40px;
    }


    .contacts_info .data .item + .item
    {
        margin-top: 20px;
    }

    .contacts_info .data .item.exp
    {
        margin-top: 32px;
    }


    .contacts_info .feedback
    {
        width: 620px;
    }



    .contacts_info .map
    {
        margin-top: 80px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .title
    {
        margin-bottom: 40px;
    }



    /*----------------
        Stock info
    ----------------*/
    .stock_info .head
    {
        min-height: 420px;
        margin-bottom: 52px;
        padding: 52px 100px;
    }


    .stock_info .head .title
    {
        width: 540px;
    }



    /*-------------------
        Photo gallery
    -------------------*/
    .photo_gallery
    {
        padding: 120px 0 180px;
    }


    .photo_gallery .bg1
    {
        top: -200px;

        width: 400px;
        height: 519px;
        margin-left: -760px;
    }


    .photo_gallery .block_title
    {
        font-size: 88px;

        margin-bottom: 100px;
    }


    .photo_gallery .swiper
    {
        width: 800px;
    }


    .photo_gallery .item,
    .photo_gallery .item img
    {
        border-radius: 80px;
    }



    /*------------
        Stocks
    ------------*/
    .stocks .swiper-button-next,
    .stocks .swiper-button-prev
    {
        width: 80px;
        height: 80px;
        margin-bottom: 40px;
    }

    .stocks .swiper-button-prev
    {
        right: 96px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        margin-bottom: 200px;
        padding: 100px 0 80px;
    }


    .service_head .title
    {
        font-size: 112px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        margin-bottom: 200px;
    }


    .service_info .data
    {
        width: 580px;
    }


    .service_info .text_block > *
    {
        margin-bottom: 32px;
    }


    .service_info .image
    {
        margin-right: 60px;
    }



    /*------------
        video
    ------------*/
    .video .play_btn .icon
    {
        width: 124px;
        height: 124px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding-bottom: 0;
    }


    .advantages .block_title
    {
        font-size: 112px;

        margin-bottom: 100px;
    }


    .advantages .list > * + *
    {
        margin-top: 40px;
    }


    .advantages .item
    {
        width: 900px;
    }


    .advantages .item .number
    {
        width: 180px;
        height: 180px;
    }

    .advantages .item .number + *
    {
        width: calc(100% - 180px);
        padding-top: 38px;
    }


    .advantages .item .name
    {
        font-size: 34px;

        padding-left: 32px;
    }


    .advantages .item .desc
    {
        font-size: 18px;
        line-height: 30px;

        width: 380px;
        margin-top: 28px;
    }



    /*----------------
        Certs head
    ----------------*/
    .certs_head
    {
        margin-bottom: 100px;
        padding: 120px 0 80px;
    }


    .certs_head .title
    {
        font-size: 112px;
    }



    /*----------------
        Certs info
    ----------------*/
    .certs_info
    {
        margin-bottom: 280px;
    }


    .certs_info .title
    {
        font-size: 60px;

        width: 892px;
        margin-bottom: 100px;
    }


    .certs_info .data
    {
        width: 600px;
    }


    .certs_info .text_block
    {
        width: 540px;
    }

    .certs_info .text_block > *
    {
        margin-bottom: 40px;
    }


    .certs_info .data .title
    {
        margin-top: 100px;
    }


    .certs_info .image
    {
        width: 624px;
        height: 800px;
        margin-right: -32px;
    }


    .certs_info .image .img1
    {
        width: 520px;
        height: 678px;

        border-radius: 24px;
    }


    .certs_info .image .img2
    {
        width: 480px;
        height: 352px;

        border-radius: 24px;
    }


    .certs_info .image .bg2
    {
        bottom: -200px;
        left: 80px;

        width: 300px;
        height: 300px;
    }


    .certs_info .image .bg1
    {
        bottom: -220px;
        left: 80px;

        width: 512px;
        height: 421px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 200px;
        padding: 160px 0 80px;
    }

    .about_info.no_bg
    {
        margin-bottom: 160px;
        padding-top: 140px;
    }


    .about_info .data
    {
        width: 532px;
        margin-left: 0;
    }


    .about_info .title
    {
        font-size: 160px;

        margin-bottom: 68px;
    }


    .about_info .scroll_down
    {
        width: 140px;
        height: 140px;
        margin-top: 200px;
    }



    /*-----------
        Files
    -----------*/
    .files
    {
        padding: 160px 0 140px;
    }


    .files .block_title
    {
        font-size: 88px;

        margin-bottom: 100px;
    }


    .files .swiper-slide
    {
        width: 340px;
    }


    .files .swiper-button-next,
    .files .swiper-button-prev
    {
        margin-bottom: 80px;
    }

    .files .swiper-button-prev
    {
        right: 108px;
    }


    .files .file
    {
        height: 400px;
        padding: 59px 39px 67px 39px;
    }



    /*------------
        Prices
    ------------*/
    .prices > .head
    {
        margin-bottom: 60px;
        padding: 120px 0;
    }


    .prices > .head .page_title
    {
        font-size: 112px;
    }


    .prices > .head .bg
    {
        top: 12px;
        left: 0;

        width: 460px;
        height: 414px;
    }



    .prices .section > .title
    {
        font-size: 32px;

        margin-bottom: 40px;
    }



    .prices .items .item
    {
        font-size: 26px;

        padding: 31px 31px 31px 39px;
    }


    .prices .data .items .item
    {
        padding: 24px 0 0 0;
    }

    .prices .data .items .item + .item
    {
        margin-top: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 28px;
    }



    footer .phone
    {
        margin-left: 100px;
    }



    footer .socials
    {
        bottom: 28px;
    }

    footer .socials a + a
    {
        margin-left: 12px;
    }
}
